<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auth Profile</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1>Halaman Profile</h1>

   <p> id : <%= user._id %> </p>
   <p> email : <%= user.local.email %> </p>
   <p> password(hash) : <%= user.local.password %> </p>
   <p> nama: <%= user.local.nama %> </p>
   <p> username : <%= user.local.username %> </p>
  <a href="/logout"> logout </a>
</body>
</html>
